In [1]:
! pip install -Uqq fastbook
from fastbook import *

In [2]:
path = untar_data(URLs.ML_100k)

In [3]:
path.ls()

(#23) [Path('/root/.fastai/data/ml-100k/u3.test'),Path('/root/.fastai/data/ml-100k/u4.test'),Path('/root/.fastai/data/ml-100k/u4.base'),Path('/root/.fastai/data/ml-100k/u.data'),Path('/root/.fastai/data/ml-100k/ub.test'),Path('/root/.fastai/data/ml-100k/allbut.pl'),Path('/root/.fastai/data/ml-100k/u2.base'),Path('/root/.fastai/data/ml-100k/u.genre'),Path('/root/.fastai/data/ml-100k/u1.base'),Path('/root/.fastai/data/ml-100k/mku.sh')...]

In [4]:
ratings = pd.read_csv(path/'u.data', delimiter='\t', header=None,
                 names=['user', 'movie', 'rating', 'timestamp'])
ratings.head()

   user  movie  rating  timestamp
0   196    242       3  881250949
1   186    302       3  891717742
2    22    377       1  878887116
3   244     51       2  880606923
4   166    346       1  886397596

In [5]:
movies = pd.read_csv(path/'u.item', delimiter='|', encoding='latin-1',
                     usecols=(0,1), names=['movie', 'title'], header=None)
movies.head()

   movie              title
0      1   Toy Story (1995)
1      2   GoldenEye (1995)
2      3  Four Rooms (1995)
3      4  Get Shorty (1995)
4      5     Copycat (1995)

In [6]:
ratings = ratings.merge(movies)
ratings.head()

   user  movie  rating  timestamp         title
0   196    242       3  881250949  Kolya (1996)
1    63    242       3  875747190  Kolya (1996)
2   226    242       5  883888671  Kolya (1996)
3   154    242       3  879138235  Kolya (1996)
4   306    242       5  876503793  Kolya (1996)

In [7]:
from fastai.collab import *

dls = CollabDataLoaders.from_df(ratings, item_name='title', bs=64)
dls.show_batch()

In [8]:
class Collab(torch.nn.Module):
  def __init__(self, num_users, num_items, num_factors):
    super().__init__()
    self.user_factors = torch.nn.Embedding(num_users, num_factors)
    self.item_factors = torch.nn.Embedding(num_items, num_factors)
  
  def forward(self, x):
    users = self.user_factors(x[:, 0])
    items = self.item_factors(x[:, 1])
    return (users*items).sum(dim=1)

In [9]:
x, y = dls.one_batch()
x.shape, y.shape

(torch.Size([64, 2]), torch.Size([64, 1]))

In [10]:
x[:5], y[:5]

(tensor([[ 661,  659],
         [ 861,  730],
         [ 766,    8],
         [  13, 1153],
         [ 429, 1185]]),
 tensor([[4],
         [4],
         [4],
         [1],
         [3]], dtype=torch.int8))

In [11]:
num_users = len(dls.classes['user'])
num_movies = len(dls.classes['title'])

In [12]:
model = Collab(num_users, num_movies, 50)
learn = Learner(dls, model, loss_func=MSELossFlat())

In [13]:
learn.fit_one_cycle(5, 5e-3)

In [14]:
class Collab(torch.nn.Module):
  def __init__(self, num_users, num_items, num_factors, y_range=(0, 5.5)):
    super().__init__()
    self.user_factors = torch.nn.Embedding(num_users, num_factors)
    self.item_factors = torch.nn.Embedding(num_items, num_factors)
    self.y_range = y_range
    
  def forward(self, x):
    users = self.user_factors(x[:, 0])
    items = self.item_factors(x[:, 1])
    return sigmoid_range((users * items).sum(dim=1), *self.y_range)

In [15]:
model = Collab(num_users, num_movies,50)
learn = Learner(dls, model, loss_func=MSELossFlat())

In [16]:
learn.fit_one_cycle(5, 5e-3)

In [29]:
class CollabBias(torch.nn.Module):
  def __init__(self, num_users, num_items, num_factors, y_range=(0, 5.5)):
    super().__init__()
    self.user_factors = Embedding(num_users, num_factors)
    self.user_bias = Embedding(num_users, 1)
    self.item_factors = Embedding(num_items, num_factors)
    self.item_bias = Embedding(num_items, 1)
    self.y_range = y_range
    
  def forward(self, x):
    users = self.user_factors(x[:, 0])
    items = self.item_factors(x[:, 1])
    res = (users * items).sum(dim=1, keepdim=True)
    res += self.user_bias(x[:, 0]) + self.item_bias(x[:, 1])
    return sigmoid_range(res, *self.y_range)

In [30]:
model = CollabBias(num_users, num_movies, 50)
learn = Learner(dls, model, loss_func=MSELossFlat())

In [31]:
learn.fit_one_cycle(5, 5e-3, wd=.1)

In [41]:
movie_bias = learn.model.item_bias.weight.squeeze()
movie_bias

tensor([ 0.0007, -0.1389, -0.0138,  ..., -0.0320,  0.0689,  0.0436], device='cuda:0', grad_fn=<SqueezeBackward0>)

In [42]:
idx = movie_bias.argsort()[:5]
[dls.classes['title'][i] for i in idx]

['Children of the Corn: The Gathering (1996)',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'Mortal Kombat: Annihilation (1997)',
 'Robocop 3 (1993)',
 'Home Alone 3 (1997)']

In [43]:
idx = movie_bias.argsort(descending=True)[:5]
[dls.classes['title'][i] for i in idx]

['L.A. Confidential (1997)',
 'Titanic (1997)',
 'Shawshank Redemption, The (1994)',
 'Silence of the Lambs, The (1991)',
 'Rear Window (1954)']